<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seng_405_chess_clock_201928028">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="Chess Clock"
        android:roundIcon="@mipmap/icon_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SENG_405_Chess_Clock_201928028">
        <activity
            android:name=".ChessClock"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>